/* app.css */

/*
*
* BASIC STYLING
*
*
*/

:root {
	--knox-white: #ffffff;
	--knox-lt-yellow: #FBF1A0;
	--knox-yellow: #F9E760;
	--knox-lt-blue: #3674AE;
	--knox-gray: #BABCB4;
	--knox-lt-gray: #F5F5F5;
	--knox-blue: #0A2D4C;
	--knox-black: #222222;
}

html, body {
	color: var(--knox-black);	
	font-family: "tenez", sans-serif;
	font-weight: 700;
	font-style: normal;
	line-height: 1em;
	background-color: transparent;
	overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6, p {
	font-family: "tenez", sans-serif;
}

h1, h2 {
	font-weight: 900;
	color: var(--knox-blue);
	
}

h4, h5 {
	font-weight: 700;
	color: var(--knox-lt-blue);
}

p {
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: var(--knox-black);
}

a {
	color: var(--knox-blue);
}

a:hover {
	color: var(--knox-lt-blue);
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 1.75rem;
}

.logo {
	width: 250px;
	max-width: 85%;
	text-align: left;
}

img {
	border-radius: 20px;
	border: none;
}

/*
*
* MENU CSS 
*
*
*/

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
	color: var(--knox-white);
	border-color: var(--knox-white) transparent transparent
}
.top-bar, .top-bar ul, .title-bar { 
	background-color: var(--knox-blue);
	justify-content: end;
	align-items: center;
	padding: 5px 10px;
}

.dropdown .is-dropdown-submenu a, .dropdown.menu > li.is-dropdown-submenu-parent > a  {
	color: var(--knox-white);	
}
.dropdown .is-dropdown-submenu a:hover, .dropdown.menu > li.is-dropdown-submenu-parent > a:hover {
	color: var(--knox-gray);
}

.menu input, .menu select, .menu a, .menu button {
	color: var(--knox-white);
}

.menu a:hover {
	color: var(--knox-gray)
}


/*
*
* HELPER CLASSES
*
*
*/
.black-text {
	color: var(--knox-black);
}

.white-text {
	color: var(--knox-white);
}

.dark-blue-text {
	color: var(--knox-blue);
}
.blue-text {
	color: var(--knox-lt-blue);
}
.heavy-text {
	font-weight: 900;
}
.bold-text {
	font-weight: 700;
}
.no-shadow {
	box-shadow: none;
}

/*
*
* BEGIN BODY CSS
*
*/

.top-header {
	padding: 0.5em 1em;
	background-color:var(--knox-lt-gray);
}

.info-text-section {
	padding-top: 2%;
	padding-bottom: 2%;
	
}

.home-blocks {
	padding: 2% 2%;
}

.hero {
	background-color: var(--knox-blue);
	padding-top: 10%;
	padding-bottom: 10%;
	min-height: 50vh;
	display: flex;
    flex-direction: column;
    justify-content: center;

}

.hero-not-home {
	background-color: var(--knox-blue);
	padding-top: 2%;
	padding-bottom: 2%;
	min-height: 20vh;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.events-hero {
	background-color: var(--knox-blue);
	padding-top: 2%;
	padding-bottom: 2%;
	min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-link-container {
	margin: 5% 0 2% 0;
}
.hero-link {
	z-index: 999;
	position: relative;
}

.hero1-wrap {
	position: relative;
}

.hero1-wrap::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	opacity: .1;
	mix-blend-mode: normal;
	height: 100%;
	width: 100%;
	background-image: url('../img/Home1.jpeg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 0;
}

.hero2-wrap {
	position: relative;
}

.hero2-wrap::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	height: 100%;
	width: 100%;
	opacity: .1;
	mix-blend-mode: normal;
	background-image: url('../img/Home2.jpeg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 0;
}

.hero-text {
	color: var(--knox-white);
	position: relative;
	z-index: 2;
}

.intro {
	padding: 5% 2%;
}

.knox-column {	
	padding: 1em 1em;
	margin: 0 auto;
}

.knox-column img {
	max-width: 100%;
	margin: 0 auto;
}

.cta-box {
	background-color: var(--knox-white);
	border-radius: 20px;
	border: 2px solid var(--knox-blue);
	padding: 2em 1em;
}

.cta-link {
	background-color: var(--knox-yellow);
	font-weight: 900;
	padding: 10px 20px;
	border-radius: 20px;
	color: var(--knox-blue);
	margin: 5px;
}

.cta-link:hover {
	background-color: var(--knox-lt-blue);
	font-weight: 900;
	padding: 10px 20px;
	border-radius: 20px;
	color: var(--knox-white)
}

.product-image {
	width: 500px;
	padding: 2%;

}
.feature-link {
	text-align: center;
}
.location-box {
	margin-top: 2%;
	margin-bottom: 2%;
}

/*
*
* FORM
*
*/

.knox-form  {
	padding: 1em 0 0 0;
}

.knox-form input, .knox-form textarea {
	border-radius: 10px;
}

.input-button {
	background-color: var(--knox-blue);
	font-weight: 900;
	padding: 10px 20px;
	border-radius: 20px !important;
	border: none;
	color: var(--knox-white)
}

.input-button:hover {
	background-color: var(--knox-lt-blue);
	font-weight: 900;
	padding: 10px 20px;
	border-radius: 20px;
	border: none;
	color: var(--knox-white)
}

.label {
    display: inline-block;
    padding: 0.33333rem 0.5rem;
    border-radius: 0;
    font-size: 1rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    color: var(--knox-blue);
	background-color: transparent;
}

/**
*
* ACTIVITY & EVENTS HEROS BOXES
*
*/

.activity1-wrap {
	position: relative;
	overflow-x: hidden;
	border-radius: 20px;
}

.activity1-wrap::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	mix-blend-mode: overlay;
	height: 100%;
	width: 100%;
	background-image: url('../img/Visit4.jpeg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 0;

}

.activity2-wrap {
	position: relative;
	overflow-x: hidden;
	border-radius: 20px;
}

.activity2-wrap::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	mix-blend-mode: overlay;
	height: 100%;
	width: 100%;
	background-image: url('../img/Visit5.jpeg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 0;

}

.activity3-wrap {
	position: relative;
	overflow-x: hidden;
	border-radius: 20px;
}

.activity3-wrap::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	mix-blend-mode: overlay;
	height: 100%;
	width: 100%;
	background-image: url('../img/Visit6.jpeg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 0;

}


/**
*
* FOOTER CSS
*/

.footer {
	background-color: var(--knox-lt-gray);
	padding: 2% 2%;
	text-align: center;
	margin-top: 5%;
}

.footer-attribute-link {
	text-decoration: none;
	font-weight: 900;
	color: var(--knox-blue);
}

.footer-attribute-link:hover {
	text-decoration: underline;
	font-weight: 900;
	color: var(--knox-blue);
}
